* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: .5em;
}

.nav-items {
    list-style: none;
    display: flex;
}

.nav-logo {
    width: 60px;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 10px -10px #000000
}

.nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.nav > ul > li {
    padding-left: 1em;
    padding-right: 1em;
}

footer {
    margin-top: 2em;
}